/* src/components/TriangleNet.css */

:root {
  --triangle-line-color: color-mix(
    in srgb,
    rgb(var(--glow)) 20%,
    black 80%
  );
    /* --triangle-line-color: #0c1c2b; */
    /* --triangle-line-color: #214261; */
    --triangle-background-color: #000000;
  }
  
  /* The container wrapping the Three.js canvas */
  #background-triangles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    box-sizing:border-box;
  
    /* background behind the transparent canvas */
    background-color: var(--triangle-background-color);
  }
  
  /* If you ever need to style the canvas itself: */
  #background-triangles canvas {
    display: block;    /* remove inline whitespace */
    width: 100%;
    height: 100%;
  }
  